/*all classes*/
.font
{
    font-family: sans-serif;
    color: aliceblue;
}

.small
{
    font-size: 0.9rem;
}
.white
{
    color:white;
}
#answer
{
    
    font-size: 2.8rem;
    /* font-weight: bold; */
}
#answer_container
{
    position: absolute;
    top:100px;
    right: 20px;
    width: 40px;
    height: 60px;
    /* border: 1px solid black; */
}
/*main outer div*/
#calculator
{
    position: relative;
    width: 325px;
    height: 540px;
    /* border:1px solid black; */
    background-color: #1d1f1f;
    margin-top: 70px;
    margin-left: 600px;
    padding: 5px;
}

#calc_header
{
    margin-left: 5px;
}
#his_container
{
    position: absolute;
    right: 15px;
    width: 25px;
    height: 25px;
    /* border: 1px solid black; */
}
#his_container:hover
{
    background-color: rgb(43, 41, 41);

}
#history
{
    position: relative;
    top:3px;
    left: 3px;
}
#operator_container
{
    width: 20px;
    height: 20px;
    /* border: 1px solid black; */
    position: relative;
    top:180px;
}
#operator
{
    position: relative;
    top:-15px;
    left: 5px;
    color: whitesmoke;

}
#all_keypad
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 333px;
    height: 315px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}
.keypad
{
    width: 79px;
    height: 55px;
    /* padding: 5px; */
    /* border:1px solid black; */
    background-color: rgb(43, 41, 41);
    margin:1px;
}
.keypad:hover
{
   background-color: rgb(121, 117, 117);
   transform: scale(0.98);
}
.black
{
    background-color: black;
}
.red
{
    background-color: brown;
}
.red:hover
{
  background-color: darkred;
}
.key
{
   position: relative;
   left: 25px;
}
.key_sign
{
    position: relative;
    top:2px;
    left:29px;
}